@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: orbitron, Courier, monospace;
}

html, 
body {
  background-color: rgb(175, 245, 245);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
  display:flex;
  justify-content: center;
  height:100vh
}

#app{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  padding:1rem;
  width:100%
}

img{
  max-width:100%
}

header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin-bottom: 1rem;
}

h1{
  font-family: silkscreen;
  margin:0;
  line-height: 1.9rem;
  font-size: 3rem;
}
h2{
  text-align: center;
}

header h1{
  text-align:center;
}
header p{
  text-align: center;
  
}

.subheader{
  font-family: orbitron;
  letter-spacing: 0.4rem;
  margin-top:0.5rem;
  color:rgba(240, 248, 255, 0.629);
}

.homepage{
  display:flex;
  align-items: start;
  justify-content: center;

}

.LHS{
  flex:2;
  flex-shrink: 1;
}
.RHS{
  flex:1;
}


.alien-container{
  display:flex;
  padding:1rem;
  border-radius: 1% 1% 40%;
  flex-direction: column;
  background-color: rgba(47, 79, 79, 0.253);
}

.alien-container-lower{
  display:flex;
}

.alien{
  display:flex;
  flex-direction: column;
}

.spacer{
  background-color: red;
  width:4rem;
}

.bg {
  background-color: rgb(80, 163, 80);
  display:flex;
  flex-direction: column;
  border: rgb(33, 82, 33) 10px solid;
  max-width: 80%;
  padding:1.5rem;
  margin:1rem;
  max-height:100%;
}


