@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: orbitron, Courier, monospace;
}

html, 
body {
  // background-color: rgb(175, 245, 245);
  background-image: url('/stars.png');
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  position:relative;
  margin: 0;
  padding:0;
  display:flex;
  justify-content: center;
  height:100vh;
  z-index:-2;
}

#transparent-bg{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.677);
  z-index:-1;
  width:100%;
  height:100%;
}

#app{
  // position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background-position: center;
  background-size: cover;
}

img{
  max-width:100%;
}

header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin-bottom: 1rem;
}

.alien:hover{
  animation: jiggle 0.5s ease infinite; 
}

h1{
  font-family: silkscreen;
  margin:0;
  line-height: 1.9rem;
  font-size: 3rem;
}


.alien-container h2{
  text-align: center;
}

header h1{
  text-align:center;
}
header p{
  text-align: center;
}
header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header button{
  padding:0.3rem;
  background-color: rgba(30, 93, 39, 0.355);
  transition: background-color 0.3s ease-in-out;
  border:transparent 5px solid;
  border-radius: 20%;
}

header button:hover{
  padding:0.3rem;
  border: rgba(0, 0, 0, 0.451) 5px solid;
  background-color: rgb(175, 245, 245);
  border-radius: 20%;
}

.subheader{
  font-family: orbitron;
  letter-spacing: 0.4rem;
  margin-top:0.5rem;
  color:rgba(240, 248, 255, 0.629);
}

.homepage{
  display:flex;
  align-items: center;
  justify-content: center;

}

.LHS{
  flex:2;
  flex-shrink: 1;
}
.RHS{
  flex:1;
  justify-content: center;
}

.dance-list-item{
  display:flex;
  height:4rem;
  justify-content: space-between;
  align-items: center;
  margin:0.5rem;
  background-color: rgba(45, 64, 60, 0.132);
}

.dance-list a{
  width:100%;
  height:4rem;
  display: flex;
  justify-content: left;
  align-items:center;
  text-decoration: none;
  color:black;
  transition: color 0.5s ease-in-out;
}

.dance-list a:hover{
  color: rgb(175, 245, 245);
  background-color: rgba(47, 79, 79, 0.253);
}

.dance-list-item img{
 height: 3rem;
 padding:0.5rem;
}

.alien-container{
  display:flex;
  padding:1rem;
  border-radius: 1% 1% 40%;
  flex-direction: column;
  background-color: rgba(47, 79, 79, 0.253);
}

.alien-container-lower{
  display:flex;
}

.alien-container h2{
  font-size:1.5rem;
}

.alien{
  display:flex;
  flex-direction: column;
}

.spacer{
  width:4rem;
}

.bg {
  background-color: rgb(80, 163, 80);
  display:flex;
  flex-direction: column;
  border: rgb(33, 82, 33) 10px solid;
  max-width: 80%;
  padding:1.5rem;
  margin:1rem;
  max-height:100%;
}

.dance-container{
  display:flex;
  // flex-direction: column;
  justify-content: center;
}

.details-upper{
display:flex;
flex-direction:column;
align-items: start;
margin-bottom: 1rem;;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  // margin-left:34%;
  // margin-right:34%;
}
.details-lower{
  min-width:50%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.dance-details{
  display:flex;
  flex-direction: column;
}

.dance-details button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0.5rem;
  margin-top:1rem;
  max-width:13rem;
  transition: max-width 0.8s ease-in-out;
  border:transparent 3px solid;
}
.dance-details button:hover{
  max-width:100%;
  background-color: aquamarine;
  border:black 3px solid;
}
.dance-details  button:active{
  max-width:100%;
  background-color: rgba(127, 255, 212, 0.397);
  transition: background-color 0.1s ease-in-out;
  border:black 3px solid;
}


.dance-details  button p{
  font-family: silkscreen;
  font-size: 1rem;
  
  line-height: 1.3rem;
}
.dance-details  button p.complete{
  font-size: 1.65rem;
}

@keyframes jiggle {
  0% { transform: rotate(-1deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}
